@import url("https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tsukimi+Rounded:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;
}
#content {
  background: rgba(0, 0, 0, 0.7) url(./image/coffeecup.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 0;
  width: 100%;
}
header {
  background: #2b272a;
  position: relative;
  position: sticky;
  width: 100%;
  top: 0;
}
.logo {
  font-family: "Lilita One", cursive;
  font-size: 2rem;
  color: white;
}
.logoForMobileDevices {
  display: none;
  font-family: "Lilita One", cursive;
  font-size: 2rem;
  color: white;
  text-align: center;
  padding-top: 2rem;
}
.navBar {
  padding-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.2rem 2rem;
  user-select: none;
}
.navBar .links .clicked {
  color: gold;
}
header ul {
  padding: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-family: "PT Sans", sans-serif;
  color: white;
  cursor: pointer;
  height: 1.5rem;
}
header ul li:hover {
  border-bottom: 2px solid white;
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 6rem;
  display: none;
}
.hero.active {
  display: flex;
}
.text {
  color: white;
  text-align: right;
  font-size: 2rem;
  font-family: "Tsukimi Rounded", sans-serif;
  width: 25ch;
}
.hero ol li {
  color: white;
  font-family: "Roboto", sans-serif;
  margin-top: 0.5rem;
}
.hero ol h2 {
  color: white;
  text-transform: uppercase;
  font-family: "Lilita One", cursive;
}
.hero ol {
  margin-top: 4rem;
  padding-top: 10rem;
  padding: 10rem 5rem;
  background: rgba(0, 0, 0, 0.7);
}
.subtext {
  color: white;
  font-family: "Roboto", sans-serif;
  width: 40ch;
  margin-top: 8rem;
  align-self: self-start;
  padding: 2rem;
}
#aboutSection {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding: 5rem 0rem;
  padding-top: 10rem;
  display: none;
}
#aboutSection.active {
  display: flex;
}
.img img {
  width: 23rem;
  height: 30rem;
}
.aboutText {
  width: 42ch;
}
.aboutText h2 {
  color: white;
  margin-top: 0;
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 2rem;
}
.aboutText p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}
.aboutText button,
#menu button {
  height: 2rem;
  width: 10rem;
  color: white;
  background: transparent;
  border: 2px solid white;
  font-family: "Roboto", sans-serif;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1rem;
}
.aboutText button:hover {
  border: none;
  background-color: #a69778;
  color: black;
}
#menu {
  /*background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(161, 161, 161, 1) 100%,
    rgba(255, 255, 255, 1) 93%
  );*/
  /*background: rgba(0, 0, 0, 0.7) url(./image/coffeecup.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;*/
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  display: none;
}
#menu.active {
  display: flex;
}
#menu h2 {
  text-align: center;
  font-family: "Tsukimi Rounded", sans-serif;
  font-size: 3rem;
  margin: 0;
  color: white;
}
#menu ul {
  list-style: none;
  padding: 2rem;
}
#menu ul li {
  height: 2rem;
  border-bottom: 2px solid white;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem;
  font-family: "Roboto", sans-serif;
  align-items: end;
  cursor: pointer;
}
#menu ul li:hover {
  transform: scale(1.01);
}
#menu ul .title {
  border: none;
  font-weight: 700;
  font-size: 1.5rem;
  cursor: auto;
}
#menu button {
  align-self: self-end;
  margin: 2rem;
  margin-top: 0;
}
#menu button:hover {
  border: none;
  color: #a69778;
  background-color: white;
}
#location {
  /*background: rgba(0, 0, 0, 0.7) url(./image/coffeecup.jpg);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;*/
  color: white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  display: none;
}
#location.active {
  display: flex;
}
#location p .branch {
  font-size: 1.5rem;
  font-family: "Tsukimi Rounded", sans-serif;
}
#location p .text {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  /*width: 20ch;*/
}
#location p {
  width: 80ch;
}
#location h1 {
  font-family: "Tsukimi Rounded", sans-serif;
}
.locate {
  color: red;
}
footer {
  display: flex;
  flex-direction: column;
  background: rgb(12, 12, 12);
  padding: 2rem 5rem;
  color: beige;
  gap: 2rem;
}
.contact {
  display: flex;
  gap: 1rem;
}
.contact a {
  font-size: 1.6rem;
  color: inherit;
  cursor: pointer;
}
.copyright {
  align-self: center;
  font-size: 1rem;
  font-family: monospace;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  transform: scale(1.02);
}

@media (orientation: portrait) {
  #content {
    margin: 0 auto;
  }
  header {
    background-size: contain;
    width: 100%;
    top: 0;
    padding-bottom: 2rem;
  }

  header ul {
    flex-direction: row;
    font-size: 2.3rem;
  }
  #aboutSection {
    flex-direction: column;
  }
  .text {
    font-size: 4rem;
    text-align: center;
    width: 20ch;
  }
  .subtext {
    font-size: 1rem;
  }
  .logo {
    display: none;
  }
  .logoForMobileDevices {
    display: block;
    font-size: 3rem;
    color: red;
  }
  .img img {
    width: 35rem;
    height: 42rem;
    padding: 0;
  }
  .aboutText {
    width: auto;
    padding: 8rem;
  }
  .aboutText h2 {
    font-size: 3rem;
  }
  .aboutText p {
    font-size: 2rem;
    line-height: 2.3rem;
  }

  .aboutText button,
  #menu button {
    width: 20rem;
    height: 5rem;
    border-radius: 2.5rem;
    font-size: 2.5rem;
  }
  #menu ul li {
    height: 5rem;
    font-size: 3rem;
    margin-top: 1rem;
  }
  #menu button {
    margin-top: 5rem;
    margin-right: 4rem;
  }
  #menu ul .title {
    font-size: 4rem;
  }
  #menu {
    height: 80vh;
    justify-content: center;
  }
  #location {
    width: auto;
    height: 70vh;
    gap: 6rem;
  }
  #location P .branch {
    width: auto;
    font-size: 3rem;
  }
  #location p .text {
    font-size: 3rem;
  }
  .contact a {
    font-size: 4rem;
  }
  .copyright {
    font-size: 2rem;
  }
  footer {
    padding-top: 10rem;
  }
  #location h1 {
    margin: 0;
    font-size: 4rem;
  }
  header ol {
    background: rgba(0, 0, 0, 0.7);
    padding: 5rem 10rem;
  }
}
